
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Roboto', sans-serif;
}


.spinner {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px dashed #e3dcdc;
  animation: spin 1s infinite linear;
  transform: translateX(-50%) translateZ(0px);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.error {
  font-size: 1.5rem;
  color: rgb(255, 0, 0);
  margin-top: 15px;
}

/*Search*/

.video-form {
  width: 100%;
  display: flex;
  align-items: baseline;
}

.video-form__input {
  width: 80%;
  padding: 25px 10px;
}

.video-form__input, .video-form__btn {
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.40);
}

.video-form__btn {
  height: 50px;
  margin-left: 10px;
  width: 150px;
  background-color: #fff;
  border: 1px solid #D7DBDA;
  border-radius: 3px; 
  color: #0009;
  padding: 10px;
  transition: background-color, color 0.3s ease-in-out;
}

.video-form__btn:hover, .video-form__btn:focus {
  color: #fff;
  background-color: rgba(255, 0, 0, 0.72);
  box-shadow: none;
}
