body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.form-container {
	width: 60%;
}

.form {
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.drop-down-label {
	margin-left: 425px;
}

.drop-down {
	width: 20%;
}

.searchBtn {
	background: #3f51b5;
	border: none;
	padding: 2.5px 6px;
	align-self: center;
	justify-content: center;
}

.searchField {
	padding-left: 4px;
}
